<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>223613119663-2nm6d55krdsnl7fr4jmsu3t4cf3m9i69.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.223613119663-2nm6d55krdsnl7fr4jmsu3t4cf3m9i69</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>223613119663-1lgmkiu1ho0f3ugd7otin6b06q01tl5o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC55ub9PEpyNKns5vtqO8e7Eu9uR18cZMw</string>
	<key>GCM_SENDER_ID</key>
	<string>223613119663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ibtikar-soft.com.Kayan</string>
	<key>PROJECT_ID</key>
	<string>kayan-a40d9</string>
	<key>STORAGE_BUCKET</key>
	<string>kayan-a40d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:223613119663:ios:3ab59494825dd221b3f85a</string>
	<key>DATABASE_URL</key>
	<string></string>
</dict>
</plist>
